html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
    font-size: 62.5%;
}

body {
    background-image: url(https://st.depositphotos.com/1011935/1277/v/600/depositphotos_12779936-stock-illustration-cocktail-pattern.jpg);
    font-family: 'Chicle', cursive;
    line-height: 1.6;
}

span {
    font-size: 3rem;
}

h1 {
    font-size: 7rem;
    text-align: center;
    color: white;
    text-shadow: -1px -2px 1px #776139,
                1px 2px 1px #776139,
                2px 5px 1px #f0aa33, 
                4px 8px 0px #7cc2ad, 
                6px 11px 0px #f67817;
    margin: 0;
    padding: 50px;
    background-color: #ffecb4b0;
}

main {
    background-color: #ffecb4b0;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-top: 0;
    text-align: center;
    font-size: 5rem;
    color: white;
    text-shadow: -1px -2px 1px #776139,
                1px 2px 1px #776139,
                1px 2.5px 1px #f0aa33,
                2px 4px 0px #7cc2ad, 
                3px 6px 0px #f67817;
    margin-bottom: 30px;
}

form {
    text-align: center;
}

form button {
    padding: 15px 25px;
    margin: 15px;
    font-family: 'Chicle', cursive;
    font-size: 3rem;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: #7cc2ad;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 5px #548174;
}

form button:hover {
    background-color: #f0aa33;
    box-shadow: 2px 5px #f67817;
}

form button:active {
    background-color: #f0aa33;
    box-shadow: 2px 5px #f67817;
    transform: translateY(4px);
}

.savedDrinks {
    border: 7px solid white;
    border-radius: 10px;
}

h3 {
    font-size: 2.5rem;
    color: #7cc2ad;
    padding: 10px;
}

.drinksContainer {
    width: 60%;
    height: 400px;
    display: flex;
    background-color: #ffecb4b0;
    border: 7px solid white;
    border-radius: 10px;
    margin: 20px 0;
    overflow-y: scroll;
    padding: 0 10px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 375px;
    min-width: 375px;
    padding: 20px;
}


img {
    width: 100%;
    margin: 5px;
    border: 2px solid white;
    border-radius: 10px;
}

h4,
h5,
li,
p {
    margin: 10px;
}

h4 {
    font-size: 3.5rem;
    color: #f67817;
}

h5 {
    font-family: 'Oranienbaum', serif;
    font-size: 2.5rem;
    /* color: #f0aa33; */
}

ul {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

li,
p {
    font-size: 2rem;
    font-family: 'Oranienbaum', serif;
    text-transform: initial;
    list-style: none;
}

footer p {
    background-color: #7cc2ad;
    margin: 0;
    padding: 10px;
    font-family: 'Chicle', cursive;
    color: white;
    font-size: 3rem;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer a:hover {
    color: #f67817;
}

@media (max-width: 1000px) {
    .drinksContainer {
        width: 90%;
    }
}

@media (max-width: 800px) {
    .drinksContainer {
        flex-direction: column;
    }

    .imageContainer {
        margin: 0 auto;
        width: 50%;
        min-width: 100%;
    }
}

